<tr>
  <td><%= app_request.query_params %></td>
  <td><%= app_request.query_string %></td>
  <td><%= app_request.cookies %></td>
  <td><%= app_request.headers %></td>
  <td><%= app_request.scheme_request %></td>
  <td><%= app_request.request_method %></td>
  <td><%= app_request.remote_ip %></td>
  <td><%= app_request.created_at %></td>
</tr>