<div class="table-container">
<table>
  <tr>
    <th class="min-50">Query params</th>
    <th class="min-50">Query string</th>
    <th>Cookies</th>
    <th>Headers</th>
    <th class="min-50">Scheme</th>
    <th class="min-50">Request method</th>
    <th>Remote ip</th>
    <th>Request date</th>
  </tr>
  <% @requests.each do |app_request| %>
  <tr>
    <td><%= app_request.query_params %></td>
    <td><%= app_request.query_string %></td>
    <td><%= app_request.cookies %></td>
    <td><%= app_request.headers %></td>
    <td><%= app_request.scheme_request %></td>
    <td><%= app_request.request_method %></td>
    <td><%= app_request.remote_ip %></td>
    <td><%= app_request.request_date %></td>
  </tr>
  <% end %>
</table>
</div>